* {
    box-sizing: border-box;
}

.red {
    background: red;
    height: 1000px;
    width: 900px;
    padding: 10px;
}

.green {
    background: green;
    height: 785px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.pink {
    background: pink;
    height: 185px;
    margin-top: 10px;
}

.yellow {
    background: yellow;
    max-width: calc(70% - 20px);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.yellow:nth-child(odd) {
    align-self: flex-start;
    background: red;
}

.yellow:nth-child(even) {

    align-self: flex-end;
}

