* {
    box-sizing: border-box;
}

.purple_block {
    background: purple;
    height: 940px;
    width: 900px;
    padding: 10px;
}

.blue_block {
    background: blue;
    height: 300px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.green_block {
    background: green;
    height: 200px;
    width: 200px;
}

.blue_block:nth-child(2) {
    display: flex;
    justify-content: center;
}

.red_block {
    background: red;
    height: 200px;
    width: 200px;
}

.blue_block:last-child {
    display: flex;
    justify-content: center;
}

.red_block2 {
    background: red;
    height: 280px;
    width: 850px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.white_block {
    background: white;
    height: 80px;
    width: 80px;
}

.white_block:nth-child(even) {
    align-self: flex-end;
}