* {
    box-sizing: border-box;
}

.red {
    background: red;
    height: 1000px;
    width: 1000px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dark_red_1 {
    background: darkred;
    height: 250px;
    width: 250px;
    flex: 0 10 100%;
    display: flex;
    padding: 10px;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.dark_red_2 {
    background: darkred;
    height: 720px;
    width: 100px;
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.blue {
    background: blue;
    height: 73.5%;
    width: auto;
    align-self: flex-end;
    flex: 0 1 725px;
}

.yellow_1 {
    background: yellow;
    height: 210px;
    flex-basis: 350px;
    flex-shrink: 0;
}

.yellow_2 {
    background: yellow;
    height: 230px;
    flex-basis: 205px;
    flex-shrink: 0;
}